<!--MOBILE HEADER-->
<md-toolbar class="md-whiteframe-1dp md-hue-1" layout="row" layout-align="end center" hide-gt-md>

    <div>
        <p>grace's kitchen</p>
    </div>

    <div>
        <md-menu md-offset="0 60">
            <md-button aria-label="Open Menu" ng-click="$mdOpenMenu($event)" class="md-icon-button">
                <i class="fa fa-bars fa-lg"></i>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item>
                    <md-button><a href="#home"><md-list-item class="nav-button-menu"><i class="fa fa-home"></i><span class="menu-text">Home</span></md-list-item></a></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><a href="#search"><md-list-item class="nav-button-menu"><i class="fa fa-search"></i><span class="menu-text">Search Recipes</span></md-list-item></a></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><a href="#enter"><md-list-item class="nav-button-menu"><i class="fa fa-plus"></i><span class="menu-text">Enter Recipes</span></md-list-item></a></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><a href="#meal"><md-list-item class="nav-button-menu"><i class="fa fa-cutlery"></i><span class="menu-text">Meal Plan</span></md-list-item></a></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button><a href="#list"><md-list-item class="nav-button-menu"><i class="fa fa-shopping-cart"></i><span class="menu-text">Groceries List</span></md-list-item></a></md-button>
                </md-menu-item>
            </md-menu-content>

        </md-menu>
    </div>
</md-toolbar>

<!--DESKTOP HEADER-->
<md-toolbar class="md-whiteframe-1dp md-hue-1" layout="row" layout-align="space-around center" hide show-gt-md>
    <div class="md-toolbar-tools" layout-align="start center">
        <h2>grace's kitchen</h2>
    </div>
<!--</md-toolbar>-->

<!--<md-toolbar layout="row" hide show-gt-md class="md-hue-1">-->
    <div class="md-toolbar-tools" layout-align="end center">
        <a href="#home"><md-button class="nav-button">Home</md-button></a>
        <a href="#search"><md-button class="nav-button">Search Recipes</md-button></a>
        <a href="#enter"><md-button class="nav-button">Enter Recipes</md-button></a>
        <a href="#meal"><md-button class="nav-button">Meal Plan</md-button></a>
        <a href="#list"><md-button class="nav-button">Groceries List</md-button></a>
    </div>
</md-toolbar>
<!--END HEADER-->