<h1 class="recipe-name">{{info.name}}</h1>

<div layout="column" layout-align="center center">
    <md-button ng-disabled="check" class="md-accent md-raised md-hue-3" ng-click="action(info)">Add to Meal Plan</md-button>
    <p ng-show="message">Recipe is in Meal Plan!</p>
</div>


<p>source: {{info.source}}</p>

<hr>
<h2>Ingredients</h2>
<ul><li ng-repeat="ingredient in info.ingredients">{{ingredient.amount}} {{ingredient.name}}</li></ul>

<hr>
<h2>Instructions</h2>

<div layout="row" ng-repeat="instruction in info.instructions">
    <p flex="25" flex-gt-sm="15">Step {{instruction.step}}: </p>
    <p flex="75" flex-gt-sm="85"> {{instruction.instruction}}</p>
</div>
