/* ------ GENERAL STYLES ------ */
h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

p, li {
    font-size: 20px;
}

a, a:hover {
    text-decoration: none;
}

.front-pages {
    background-image: url("WallPaper_07_BUTAO.jpg");
    background-position: center;
}

.md-button{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 5px 20px;
}

.md-button:not([disabled]):hover {
    background-color: transparent;
}

md-checkbox {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 2px 10px;
}

.view-recipe-button {
    margin: 0 20px;
}

/* ------ HEADER ------*/

.nav-button {
    margin: 10px 10px;
    font-size: 13px;
    color: #444;
}

.md-button.md-icon-button {
    line-height: 0;
}

.nav-button-menu {
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #333;
}

.menu-text {
    margin-left: 20px;
}

.logout-button {
    /*padding: 0;*/
    min-width: 0;
    line-height: 0;
}

.logo-button {
    letter-spacing: 3px;
    padding: 0;
    font-size: 18px;
}

/* ------ LOGIN PAGE ------*/
.log-in {
    margin: 100px auto 0 auto;
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.85);
}

.logo {
    text-align: center;
    font-size: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.log-in h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.log-in md-input-container:not(.md-input-invalid) {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.log-in .md-button {
    padding: 0;
}

.register-failed-message {
    color: #f44336;
    text-align: center;
    font-size: 16px;
}

/* ------ HOME PAGE ------*/
.home-container {
    min-height: 700px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.home-text {
    text-align: center;
}

/* ------ ENTER RECIPE PAGE ------ */
.enter-recipe-container {
    margin-top: 25px;
    margin-bottom: 80px;
}

.enter-recipe-container h1 h2{
    text-align: center;
}

.accordion a {
    padding: 10px;
    background: #ddd;
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 1px;
}

.accordion-content{
    border: 1px solid #ddd;
    padding: 10px;
    margin: 1px 0;
}

.md-button.add-ingredient-button {
    min-height: 0;
    min-width: 0;
    line-height: 0;
    height: 30px;
    padding: 0 8px;
    font-size: 12px;
}

.md-button.delete-ingredient-button {
    font-weight: bold;
    padding: 0 8px;
    font-size: 12px;
}

.md-button.add-step-button {
    min-height: 0;
    min-width: 0;
    line-height: 0;
    padding: 15px 8px;
    font-size: 12px;
}

.md-button.submit-recipe-button {
    margin: 50px 0;
}

.error-message {
    color: #f44336;
    font-weight: bold;
}

/* ------ SEARCH RECIPE PAGE ------ */
.search-recipe-container {
    min-height: 800px;
    margin-top: 25px;
    margin-bottom: 80px;
}

.search-button {
    margin: 50px 0;
}

.result-button {
    text-align: left;
}

/* ------ RESULTS MODAL ------ */
.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    /*width: 75%; /!* Default *!/*/

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding: 50px;
    text-align: left;
}

.recipe-name {
    text-align: center;
}

/*recipe p, recipe li{*/
    /*font-size: 18px;*/
/*}*/

.ng-modal-close {
    z-index:20000;
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.strike {
    text-decoration: line-through;
}

/* ------ MOBILE STYLING ------ */


@media (max-width:1000px) {

    .log-in {
        margin-top: 80px;
        width: 80%;
        background-color: none;
    }
    .logo {
        font-size: 42px;
        letter-spacing: 14px;
        text-transform: uppercase;
    }

    .log-in h2 {
        margin-top: 30px;
        font-size: 35px;
        letter-spacing: 10px;
    }

    .log-in md-input-container:not(.md-input-invalid) {
        font-size: 20px;
        letter-spacing: 5px;
        margin: 50px 0;
    }

    .log-in .md-button, .log-in a {
        font-size: 25px;
        margin-top: 80px;
        text-transform: none;
    }

    .log-in .md-button {
        padding: 10px 40px;
    }
    
    .front-pages {
        background-image: none;
    }

}
